@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  max-width: 1280px;
  padding: 0 10px;
  display: grid;
  margin: 0 auto;
  gap: 30px;
}

p,
nav ul {
  font-size: 12px;
  opacity: 70%;
}
header {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

.sub-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  
  width: 1280px;
}
h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.section-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.main-2 {
  background-color: hsl(240, 100%, 5%);
  color: white;
  padding: 10px;
}
.main-2 h2 {
  color: hsl(35, 77%, 62%);
  padding: 10px 0;
}
.main-2 p {
  padding-top: 10px;
}
.second-div {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
}

.image {
  width: 100%;
  height: 200px;
}
button {
  background-color: hsl(5, 85%, 63%);
  height: 30px;
  width: 120px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-weight: 900;
  border: 0;
}
.section-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.sec2-div {
  display: flex;
  gap: 10px;
  width: 100%;
}
.sec2-img {
  flex: 1;
  width: 100px;
  height: 110px;
  overflow: hidden;
}
.sec2-img img {
  object-fit: fill;
}
.sec2-text {
  flex: 2;
}
.sec2-main1 {
  display: flex;
  gap: 20px;
}
.section-2 h4 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 900;
}
.section-2 h3 {
  color: hsl(5, 85%, 63%);
  font-size: 1.5rem;
}

.attribution {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

hr {
  margin: 30px 0;
  opacity: 20%;
  color: hsl(36, 100%, 99%);
}

@media (max-width: 600px) {
  body {
    font-size: 11px;
  }
  .section-1 {
    grid-template-columns: 1fr;
  }
  .second-div {
    flex-direction: column;
    gap: 5px;
  }
  .second-div h1 {
    place-self: start;
  }
  .section-2 {
    grid-template-columns: 1fr;
  }
  .sec2-main1 {
    flex-direction: column;
  }
  h1,
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 900;
  }
  p {
    font-size: 12px;
    opacity: 60%;
  }
  nav ul {
    font-size: 9px;
    gap: 10px;
  }
  button {
    font-size: 8px;
  }
  .attribution {
    font-size: 8px;
  }
}
